//<Миксины>
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-size: 0;
}

@mixin flexboxinline() {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
}

@mixin flexorder($val) {
	-webkit-box-ordinal-group: $val;
	-moz-box-ordinal-group: $val;
	-ms-flex-order: $val;
	-webkit-order: $val;
	order: $val;
}
@mixin anim($time,$delay){
	-webkit-transition: all $time ease $delay;
	-moz-transition: all $time ease $delay;
	-ms-transition: all $time ease $delay;
	-o-transition: all $time ease $delay;
	transition: all $time ease $delay;
}
@mixin scale($num){
	-webkit-transform: scale($num);
	-moz-transform: scale($num);
	-ms-transform: scale($num);
	-o-transform: scale($num);
	transform: scale($num);
}
@mixin rotate($deg){
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}
//<Шрифты>
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
//<Шрифты по умолчанию>
$font-family: "Raleway";
//<Переменные>
$minwidth: 320px;
$mw: 1660;
$md1: $mw+12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
//<Обнуление>
@import "_nullstyle.scss";


//Start====================================================================
body{
	background: url(../../img/bg2.png) 0px 299px no-repeat;
	z-index: -5;
}
.wrapper{
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: $mw+px;
	margin: 0 auto;
	width: 100%;
	@media (max-width:($md1+px)) {max-width: 970px;}
	@media (max-width:($md2+px)) {max-width: 750px;}
	@media (max-width:($md3+px)) {max-width: none;padding: 0 10px;}
}

.header {
	position: relative;
    &__body {
        @include flexbox();
        align-items: center;
		justify-content: space-between;
        margin: 44px 0 41px 0;
    }

	&__column {
	}

	&__logo {
        display: inline-block;
        position: relative;
        width: 166px;
        z-index: 7;
        img{
            max-width: 100%;
        }
    }

	&__icon{ //БУРГЕР
		display: block;
		position: relative;
		// top: 18px;
		// right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 8;
		span{
			@include anim(0.3s,0s);
			top: 8px;
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			
			&:first-child{
				top: 0;
			}
			&:last-child{
				top: auto;
				bottom: 0;
			}
		}
		&.active{
			
			span{
				@include scale(0);
				&:first-child{
					@include rotate(-45deg);
					top: 8px;
				}
				&:last-child{
					@include rotate(45deg);
					bottom: 8px;
				}
			}
		}
	}	
}
.menu-header {
	&__nav {
	}

	&__list {
        @include flexbox();
		margin: 0px -145px 0px 0px;	
        @media (max-width:($md2+px)){
			margin: 0px -50px 0px 0px;	
		}
		@media (max-width:(720px)){
			margin: 0px -35px 0px 0px;	
		}
    }

    &__link {
		padding: 0px 145px 0px 0px;
        font-size: 24px;
        line-height: 28px;
        color: #828282;
		transition: all 0.4s ease 0s;
		span{
			line-height: 28px;
			position: relative;
			&::after{
				content:'';
				position: absolute;
				left: 50%;
				width: 0;
				height: 1px;
				bottom: -5px;
				background-color: #F0368F;
				transition: all 0.3s ease 0s;
			}
		}
		&:hover{
			color: #F0368F;
			span::after{
				left: 0;
				width: 100%;
			}
		}
		@media (max-width:($md2+px)){
			padding: 0px 50px 0px 0px;	
		}
		@media (max-width:(720px)){
			font-size: 20px;
			line-height: 22px;
			padding: 0px 35px 0px 0px;	
		}
    }
}
//====================================================================

.main {
	position: relative;
    &__body {
		@include flexbox();
        align-items: center;
        justify-content: space-between;
    }

    &__column {
    }

    &__img {
		display: inline-block;
		position: relative;
		width: 1030px;
		height: 1030px;
		border-radius: 50%;
		background-color: #F0368F;
		transform: translateX(270px);
		overflow: hidden;
		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom:-2px;
			background: #fff;
			height: 70px;
			width: 100%;
		  }
		img._active {
			animation-name: circle;
			animation-duration: 5s;
			animation-timing-function: ease;
			animation-iteration-count: 2;
			animation-direction: alternate;
				
			/* ключевые кадры */
			@keyframes circle{
			
			0%{
			rotate: 0deg;
			}
			50%{
			}
			100%{
			rotate: 180deg;
			}
			}
		}
    }
	&__itemmagy{
		position: absolute;
		z-index: 1;
		left: 1015px;
		top: 0;
	}
	
	
}
.column-info {

    &_btn {
        font-size: 32px;
        font-weight: 500;
        color: #fff;
		
		cursor: pointer;
		@media (max-width:($md1+px)){
			font-size: 24px;	
		}
		@media (max-width:($md2+px)){
			font-size: 22px;
		}
		@media (max-width:($md3+px)){
			font-size: 15px;
		}
    }

    &__title {
        font-size: 72px;
		line-height: 85px;
        font-weight: 600;
        color: #000;
		@media (max-width:($md1+px)){
			font-size: 62px;
			line-height: 62px;	
		}
		@media (max-width:($md2+px)){
			font-size: 50px;
			line-height: 50px;
		}
		@media (max-width:($md3+px)){
			font-size: 40px;
			line-height: 40px;
		}
    }

    &__prof {
		display: inline-block;
		margin: 41px 0;
		max-width: 450px;
        font-size: 32px;
        font-weight: 400;
        line-height: 37px;
        color: #464646;
		@media (max-width:($md1+px)){
			margin: 21px 0;
			font-size: 24px;
			line-height: 28px;	
		}
		@media (max-width:($md2+px)){
			font-size: 22px;
			line-height: 24px;
		}
		@media (max-width:($md3+px)){
			margin: 15px 0;
			font-size: 20px;
			line-height: 22px;
		}
    }
}
.btn {
	display: inline-block;
    background-color: #F0368F;
	border-radius: 20px;
	padding: 17px 66px;
	transition: background-color 0.4s ease 0s, box-shadow 0.1s ease 0s;
	position: relative;
	&:hover{	
		background-color: rgb(170, 30, 98);
	}
	&:active{
		top: 2px;
		box-shadow: 1px 3px 4px rgb(42, 47, 66);
	}
	
	@media (max-width:($md2+px)){
		padding: 15px 66px;
		border-radius: 18px;
	}
	@media (max-width:($md3+px)){
		padding: 13px 62px;
		border-radius: 13px;
	}
}
//=====================================================================================
.works {
	&__body {
		margin: 245px 0 450px 0;
	}

	&__row {
		
	}

	&__columns {
		@include flexbox();
		justify-content: space-between;
		
	}
}
.column-work {
	&__tabs {
		position: relative;
		width: 500px;
		transition: all 0.5s ease 0s;
		&:hover{	
		box-shadow:inset 0 -90px 20px #000000b9;
		}
	}
	

	&__tab {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 33px 41px;
		
	}

	&__title {
		color: #ffffff;
		font-size: 32px;
		line-height: 40px;
		font-weight: 500;
		&:hover{
			text-decoration: underline;
		}
	}

	&__img {
		display: inline-block;
		overflow: hidden;
		img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
			transition: all 0.4s ease 0s;
			// &:hover{
			// 	transform: scale(1.05);	
			// }
			
		}	
	}
}

//============================================================================
.form {
	&__body {
		background:#F5F5F5D6;
		width: 972px;
		height: 611px;
		border-radius: 20px;
	}

	&__form {
	}

	&__image {
		width: 100%;
		height: 100%;
		
	
		
	}

}
.form-footer {
	padding: 57px 143px 25px 121px;
	&__title {
		display: block;
		font-size: 32px;
		font-weight: 500;
		line-height: 38px;
		color: #000;
	}

	&__item {
		margin: 22px 0 0 0;
	}

	&__label {
		font-size: 24px;
		font-weight: 500;
		line-height: 28px;
		color: #000;

	}

	&__input {
		display: block;
		border: 2px solid #8D8D8D;
		border-radius: 20px;
		font-size: 20px;
		height: 59px;
		width: 100%;
		padding: 10px;
		background: transparent;
		&::placeholder{
			font-size: 24px;
			font-weight: 500;
			line-height: 28px;
			color: #868686;
		}
	}

	&__button {
		margin: 37px 0 25px 0; 
		font-size: 24px;
	    font-weight: 500;
		line-height: 28px;
		color: #fff;
	}
	
}
textarea.form-footer__input{
	min-height: 133px;
	resize: none;
}
//=======================================================================
.footer {
	margin: 456px 0 104px 0;
	&__body {
	}

	&__columns {
		@include flexbox();
	}
}
.column {
	@include flexbox();
	justify-content: space-between;
	&__social {
		
	}
}
.media {
	@include flexbox();
	&__item {
		padding: 0 44px 0 0;
	}

}

